<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="img/common/favicon/favicon.ico" rel="shortcut icon">

    <!-- все приколюхи для html файла дерни из папки с бойлерплейтом -->

    <link rel="stylesheet" href="css/vendor.css">

    <!-- для продакшена не забудь расскомментировать -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- LESS на продакшене закомментировать -->
    <!-- <link  href="less/main.less" rel="stylesheet/less" type="text/css"> -->


</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">
        Вы используете броузер, который <strong>больше не поддерживается</strong>.
        Пожалуйста, <a href="http://browsehappy.com/">обновите ваш броузер</a>
        и почувствуйте себя круто!
    </p>
    <![endif]-->

    <!-- header-block -->
    <section class="header-block">
        <div class="container">


            <div class="row">

                <!-- LARGE-SCREENS -->
                <div class="hidden-xs col-sm-6 col-md-3 col-lg-3 header__logo">
                    <a href="/" class="">
                        <img src="img/header-block/st-logo.png" alt="">
                    </a>
                </div>

                <div class="hidden-xs col-sm-6 col-md-3 col-lg-3 col-md-offset-6 col-lg-offset-6 text-right header__phone-block">
                    <p class="header__phone">+7 (812) 318 18 82</p>
                    <p class="header__phone">+7 (495) 374-55-07</p>
                </div>
                <!-- LARGE-SCREENS -->

                <!-- PHONE-SCREENS -->
                <div class="hidden-sm hidden-md hidden-lg col-xs-12 text-center header__logo">
                    <a href="/" class="">
                        <img src="img/header-block/st-logo.png" alt="">
                    </a>
                </div>

                <div class="hidden-sm hidden-md hidden-lg col-xs-12 text-center header__phone-block">
                    <p class="header__phone">+7 (812) 318 18 82</p>
                    <p class="header__phone">+7 (495) 374-55-07</p>
                </div>
                <!-- PHONE-SCREENS -->

            </div>

        </div>
    </section>
    <!-- header-block -->

    <!-- banner-block -->
    <section class="banner-block-l3">
        <div class="container">

            <!-- MIDDLE-LARGE-SCREENS -->
            <div class="row hidden-xs hidden-sm">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-left">
                    <span class="banner__phrase__l3_right">
                        <span class="banner__phrase__l3_right__text">
                            Скидка <br>
                        </span>
                        <span class="banner__phrase__l3_right__percents">
                            60% <br>
                        </span>
                        <span class="banner__phrase__l3_right__text">
                            на AGCO CANUSB
                        </span>

                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-md-offset-4 col-lg-offset-6 text-left">
                    <span class="banner__phrase__l3_left">
                        <span class="banner__phrase__l3_left__text">
                            Диагностический адаптер по цене <br>
                        </span>
                        <span class="banner__phrase__l3_left__price">
                            1 500 евро
                        </span>
                        <span class="banner__phrase__l3_left__text">
                            при размещении предварительного заказа.
                        </span>
                    </span>
                </div>
            </div>
            <!-- / MIDDLE-LARGE-SCREENS -->

            <!-- XTRASMALL-SMALL-SCREENS -->
            <div class="row hidden-xs hidden-md hidden-lg">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-left">
                    <span class="banner__phrase__l3_right">
                        <span class="banner__phrase__l3_right__text">
                            Скидка <br>
                        </span>
                        <span class="banner__phrase__l3_right__percents">
                            60% <br>
                        </span>
                        <span class="banner__phrase__l3_right__text">
                            на AGCO CANUSB
                        </span>

                    </span>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 col-sm-offset-1 col-md-offset-4 col-lg-offset-6 text-left">
                    <span class="banner__phrase__l3_left">
                        <span class="banner__phrase__l3_left__text">
                            Диагностический адаптер по цене <br>
                        </span>
                        <span class="banner__phrase__l3_left__price">
                            1 500 евро
                        </span>
                        <span class="banner__phrase__l3_left__text">
                            при размещении предварительного заказа.
                        </span>
                    </span>
                </div>
            </div>
            <!-- / XTRASMALL-SMALL-SCREENS -->

            <!-- XTRASMALL-SCREENS -->
            <div class="row hidden-sm hidden-md hidden-lg">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <span class="banner__phrase__l3_right">
                        <span class="banner__phrase__l3_right__text">
                            Скидка <br>
                        </span>
                        <span class="banner__phrase__l3_right__percents">
                            60% <br>
                        </span>
                        <span class="banner__phrase__l3_right__text">
                            на AGCO CANUSB
                        </span>

                    </span>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 col-sm-offset-1 col-md-offset-4 col-lg-offset-6 text-center">
                    <span class="banner__phrase__l3_left">
                        <span class="banner__phrase__l3_left__text">
                            Диагностический адаптер по цене <br>
                        </span>
                        <span class="banner__phrase__l3_left__price">
                            1 500 евро
                        </span>
                        <span class="banner__phrase__l3_left__text">
                            при размещении предварительного заказа.
                        </span>
                    </span>
                </div>
            </div>
            <!-- / XTRASMALL-SCREENS -->

        </div>
    </section>
    <!-- banner-block -->

    <!-- cooperation-block -->
    <section class="cooperation-block">
        <div class="container">

            <!-- COOPERATION-SECOND-HEADER -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left header__second-header header__second-header__l3">
                    <p class="header__second-header-text">
                        При размещении предварительного заказа на покупку <br>
                        диагностического адаптера AGCO CANUSB действует <br>
                        специальная цена
                        <span class="cooperation__header-text-strong cooperation__header-text-strong__orange">1 500 EUR</span>
                    </p>
                </div>
            </div>
            <!-- / COOPERATION-SECOND-HEADER -->

            <!-- MIDDLE-LARGE-SCREENS -->
            <div class="row hidden-xs hidden-sm">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-left">
                    <div class="cooperation__img">
                        <img src="img/cooperation-block/st_3_landing_01.png" alt="">
                    </div>
                    <div class="cooperation__text-block">
                        <span class="cooperation__text_l3">
                            После начала продаж розничная цена устройства составит
                            <span class="cooperation__text_l3__strong">
                                3 900 EUR.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-left">
                    <div class="cooperation__img">
                        <img src="img/cooperation-block/st_3_landing_02.png" alt="">
                    </div>
                    <div class="cooperation__text-block">
                        <span class="cooperation__text_l3">
                            Для размещения предварительного заказа
                            <span class="cooperation__text_l3__strong">
                                необходимо оплатить 20% стоимости заказа.
                                Оставшиеся 80% оплачиваются сразу после выхода устройства в продажу.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-left">
                    <div class="cooperation__img">
                        <img src="img/cooperation-block/st_3_landing_03.png" alt="">
                    </div>
                    <div class="cooperation__text-block">
                        <span class="cooperation__text_l3">
                            Планируемая
                                <span class="cooperation__text_l3__strong">
                                    дата запуска продаж устройства – 30 апреля 2016 г.
                                </span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-left">
                    <div class="cooperation__img">
                        <img src="img/cooperation-block/st_3_landing_04.png" alt="">
                    </div>
                    <div class="cooperation__text-block">
                        <span class="cooperation__text_l3">
                            <span class="cooperation__text_l3__strong">Предложение ограничено!</span>
                            Получить гарантированную цену 1 500 EUR по предзаказу
                            могут только <span class="cooperation__text_l3__strong">первые 25 клиентов, разместивших и оплативших заявку.</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /MIDDLE-LARGE-SCREENS -->

            <!-- XTRASMALL-SMALL-SCREENS -->
            <div class="row hidden-md hidden-lg">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                    <div class="cooperation__img">
                        <img src="img/cooperation-block/st_3_landing_01.png" alt="">
                    </div>
                    <div class="cooperation__text-block">
                        <span class="cooperation__text_l3">
                            После начала продаж розничная цена устройства составит
                            <span class="cooperation__text_l3__strong">
                                3 900 EUR.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                    <div class="cooperation__img">
                        <img src="img/cooperation-block/st_3_landing_02.png" alt="">
                    </div>
                    <div class="cooperation__text-block">
                        <span class="cooperation__text_l3">
                            Для размещения предварительного заказа
                            <span class="cooperation__text_l3__strong">
                                необходимо оплатить 20% стоимости заказа.
                                Оставшиеся 80% оплачиваются сразу после выхода устройства в продажу.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                    <div class="cooperation__img">
                        <img src="img/cooperation-block/st_3_landing_03.png" alt="">
                    </div>
                    <div class="cooperation__text-block">
                        <span class="cooperation__text_l3">
                            Планируемая
                                <span class="cooperation__text_l3__strong">
                                    дата запуска продаж устройства – 30 апреля 2016 г.
                                </span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                    <div class="cooperation__img">
                        <img src="img/cooperation-block/st_3_landing_04.png" alt="">
                    </div>
                    <div class="cooperation__text-block">
                        <span class="cooperation__text_l3">
                            <span class="cooperation__text_l3__strong">
                                Предложение ограничено!
                            </span>
                            Получить гарантированную цену 1 500 EUR по предзаказу
                            могут только
                            <span class="cooperation__text_l3__strong">
                                первые 25 клиентов, разместивших и оплативших заявку.
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /XTRASMALL-SMALL-SCREENS -->

        </div>
    </section>
    <!-- cooperation-block -->

    <!-- how-work-block -->
    <section class="how-work-block">
        <div class="container">

            <!-- HOW-WORK-HEADER -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center how-work__header">
                    <span class="how-work__header-text">
                        Диагностический адаптер <br> AGCO CANUSB DIAGNOSTIC KIT
                    </span>
                </div>
            </div>
            <!-- / HOW-WORK-HEADER -->

            <!-- HOW-WORK-TEXT -->
            <div class="how-work__magrin-bottom">

                <div class="row">

                    <div class="col-lg-3">
                        <p class="how_work__text_main">
                            Описание
                        </p>
                    </div>

                    <div class="col-lg-9">
                        <p class="how_work__text_submain">
                            Адаптер AGCO CANUSB используется
                                <span class="how_work__text_submain__strong">
                                    для проведения полной диагностики, программирования и
                                    устранения неисправностей в работе спецтехники,
                                </span>
                            оснащенной CAN шиной и использующей протокол
                            передачи данных CAN (Controller Area Network).
                        </p>
                    </div>

                </div>

                <!-- HOW-WORK-DIVIDER -->
                <div class="row divider divider__width-fix">
                    <div class="divider__gray-dots"></div>
                </div>
                <!-- / HOW-WORK-DIVIDER -->

                <div class="row">

                    <div class="col-lg-3">
                        <p class="how_work__text_main">
                            Данный диагностический комплекс может быть использован для диагностики спецтехники таких
                            брендов как:
                        </p>
                    </div>

                    <div class="col-lg-9">

                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_05.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_06.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_07.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_08.png" alt="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_09.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_10.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_11.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_12.png" alt="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_13.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_14.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_15.png" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center how-work__text_submain_img">
                                <img src="img/how-work-block/st_3_landing_16.png" alt="">
                            </div>
                        </div>


                    </div>

                </div>

                <!-- HOW-WORK-DIVIDER -->
                <div class="row divider divider__width-fix">
                    <div class="divider__gray-dots"></div>
                </div>
                <!-- / HOW-WORK-DIVIDER -->

                <div class="row">

                    <div class="col-lg-3">
                        <p class="how_work__text_main">
                            Адаптер AGCO CANUSB работает совместно со следующим ПО:
                        </p>
                    </div>

                    <div class="col-lg-9">
                        <ul class="how-work__list">
                            <li>
                                <img src="img/how-work-block/st_3_landing_17.png" alt="">
                                AGCO Electronic Diagnostic Tool
                            </li>
                            <li>
                                <img src="img/how-work-block/st_3_landing_17.png" alt="">
                                AGCO SISU Power WinEEM3 Service Tool (WinTest)
                            </li>
                            <li>
                                <img src="img/how-work-block/st_3_landing_17.png" alt="">
                                AGCO SISU Power WinEEM4 Service Tool
                            </li>
                            <li>
                                <img src="img/how-work-block/st_3_landing_17.png" alt="">
                                FENDT FenDias
                            </li>
                            <li>
                                <img src="img/how-work-block/st_3_landing_17.png" alt="">
                                Massey Ferguson WinTest
                            </li>
                            <li>
                                <img src="img/how-work-block/st_3_landing_17.png" alt="">
                                Perkins EST 2015A
                            </li>
                            <li>
                                <img src="img/how-work-block/st_3_landing_17.png" alt="">
                                Deutz SerdDia 2010
                            </li>

                        </ul>
                    </div>

                </div>

                <!-- HOW-WORK-DIVIDER -->
                <div class="row divider divider__width-fix">
                    <div class="divider__gray-dots"></div>
                </div>
                <!-- / HOW-WORK-DIVIDER -->

                <div class="row">

                    <div class="col-lg-3">
                        <p class="how_work__text_main">
                            Комплектация:
                        </p>
                    </div>

                    <div class="col-lg-9">
                        <ul class="how-work__list">
                            <li>
                                <img src="img/how-work-block/st_3_landing_17.png" alt="">
                                Адаптер AGCO CANUSB
                            </li>
                            <li>
                                <img src="img/how-work-block/st_3_landing_17.png" alt="">
                                Кабели Deutsch 9-pin 2 шт.
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- / HOW-WORK-TEXT -->


        </div>
    </section>
    <!-- how-work-block -->

    <!-- conditions-block -->
    <section class="conditions-block">
        <div class="container">

            <!-- CONDITIONS-SECOND-HEADER -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center conditions__second-header conditions__second-header__l3">
                    <span class="conditions__second-header-text">
                        Количество адаптеров AGCO CANUSB по специальной <br> цене предзаказа 1500 EUR ограничено!
                    </span>
                </div>
            </div>
            <!-- CONDITIONS-SECOND-HEADER -->

            <div class="row conditions__order-btn_row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <!--ORDER-->
                    <div class="eltrac__order">
                        <button class="btn popup-link conditions__btn-text" data-href="#order-popup-l3">Отправить заявку</button>
                    </div>
                    <!--/ORDER-->
                </div>
            </div>

            <div class="row conditions__order-txt_row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <span class="how-work__text-strong">

                    </span>
                </div>
            </div>

        </div>
    </section>
    <!-- conditions-block -->

    <!-- footer-block -->
    <section class="footer-block">
        <div class="container">

            <!-- LARGE-MEDIUM-SMALL-SCREENS -->
            <div class="hidden-xs row footer__main-row">
                <div class="col-sm-6 col-md-6 col-lg-6 text-left">
                    <span class="footer__text">
                        &copy; 2015 Интернет-магазин &laquo;ScanTruckTM&raquo;
                    </span>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                    <span class="footer__text">
                        195269 Russia, St. Petersburg, Uchitelskaya str., 23
                    </span>
                </div>
            </div>
            <!-- LARGE-MEDIUM-SMALL-SCREENS -->

            <!-- XTRASMALL-SCREENS -->
            <div class="hidden-sm hidden-md hidden-lg row footer__main-row">
                <div class="col-xs-12 text-center">
                    <span class="footer__text">
                        &copy; 2015 Интернет-магазин &laquo;ScanTruckTM&raquo;
                    </span>
                </div>
                <div class="col-xs-12 text-center">
                    <span class="footer__text">
                        195269 Russia, St. Petersburg, Uchitelskaya str., 23
                    </span>
                </div>
            </div>
            <!-- XTRASMALL-SCREENS -->

        </div>
    </section>
    <!-- footer-block -->


    <!-- modal-windows--block -->

        <!-- POPUP-REQUEST-WINDOW -->
        <div class="order-popup hidden-element" id="order-popup">
            <div class="order-popup__close popup-close">&times;</div>
            <p class="request__popup-header order-popup__name">Да, я хочу оставить заявку</p>

            <div class="p request__popup-text order-popup__tip">Заполните заявку, и наш оператор свяжется с Вами</div>

            <div class="form form__popup-window">
                <form action="" id="request-form" method="post">
                    {% csrf_token %}
                    <div class="form__input-holder">
                        <input class="form__input" type="text" placeholder="Имя*" name="name" id="nameSorder">
                    </div>
                    <div class="form__input-holder form__input_fullphone">
                        <input class="form__input form__input_countrycode" type="text" placeholder="Код страны*" name="countryСode" id="countryСodeSorder">
                        <input class="form__input form__input_phone" type="text" placeholder="Номер телефона*" name="phone" id="phoneSorder">
                    </div>
                    <div class="form__input-holder">
                        <input class="form__input" type="text" placeholder="E-mail*" name="email" id="emailSorder">
                    </div>
                    <div class="form__input-holder">
                        <textarea class="form__textarea-request" maxlength="1000" placeholder="Сообщение" name="message" id="messageSorder"></textarea>
                    </div>
                    <div class="form__send">
                        <button class="btn btn_small" type="submit">Отправить заказ</button>
                        <span class="form__req">* Обязательно для заполнения</span>
                    </div>
                </form>
            </div>
        </div>
        <!--/ POPUP-REQUEST-WINDOW -->

        <!-- POPUP-PRE-ORDER-WINDOW -->
        <div class="order-popup hidden-element" id="order-popup-l3">
            <div class="order-popup__close popup-close">&times;</div>
            <p class="request__popup-header order-popup__name">Да, я хочу сделать предзаказ</p>

            <div class="p request__popup-text order-popup__tip">Заполните заявку, и наш оператор свяжется с Вами</div>

            <div class="form form__popup-window">
                <form action="" id="preOrderForm" method="post">
                    {% csrf_token %}
                    <div class="form__input-holder">
                        <input class="form__input" type="text" placeholder="Имя*" name="name" id="nameSPreOrder">
                    </div>
                    <div class="form__input-holder form__input_fullphone">
                        <input class="form__input form__input_countrycode" type="text" placeholder="Код страны*" name="countryСode" id="countryСodeSPreOrder">
                        <input class="form__input form__input_phone" type="text" placeholder="Номер телефона*" name="phone" id="phoneSPreOrder">
                    </div>
                    <div class="form__input-holder">
                        <input class="form__input" type="text" placeholder="E-mail*" name="email" id="emailSPreOrder">
                    </div>
                    <div class="form__send">
                        <button class="btn btn_small" type="submit">Отправить заказ</button>
                        <span class="form__req">* Обязательно для заполнения</span>
                    </div>
                </form>
            </div>
        </div>
        <!--/ POPUP-PRE-ORDER-WINDOW -->

        <!--POPUP-->
        <div class="order-popup hidden-element" id="success-popup">
            <div class="order-popup__close popup-close">&times;</div>
            <p class="order-popup__name">Спасибо, Ваш заказ принят.</p>

            <div class="order-popup__thx">В ближайшее время наши менеджеры обязательно свяжутся с Вами!</div>
        </div>
        <!--/POPUP-->

    <!-- modal-windows--block -->




    <script src="js/vendor.js"></script>

    <script src="js/custom.js"></script>




    <!-- Не забудь подключить сюда less.js -->
    <!-- а на продакшене закомментировать -->
    <!-- <script src="bower_components/less/dist/less.js"></script> -->

</body>
</html>