/* -------= imports =------- */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.logo {
  display: block;
  width: 131px;
  height: 75px;
  overflow: hidden;
}
@media (max-width:767px) {
  .logo {
    width: 100px;
    height: 60px;
  }
}
.logo img {
  display: block;
  max-width: 100%;
}
.header111 {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 9930;
  background-color: rgba(27, 27, 27, 0.69);
}
@media (max-width:1023px) {
  .header111 {
    background-color: rgba(27, 27, 27, 0.69);
  }
}
@media (max-width:767px) {
  .header111 {
    height: 80px;
  }
}
.header111__content {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header111__content:before,
.header111__content:after {
  content: "";
  display: table;
}
.header111__content:after {
  clear: both;
}
.header111__logo {
  float: left;
}
.header111__nav {
  float: right;
  margin-left: 50px;
}
@media (max-width:999px) {
  .header111__nav {
    display: none;
  }
}
.header111__button {
  box-sizing: content-box;
  padding: 42px;
  display: none;
  position: absolute;
  top: 0;
  right: -25px;
  width: 30px;
  cursor: pointer;
  user-select: none;
  z-index: 920;
}
@media (max-width:999px) {
  .header111__button {
    display: block;
  }
}
@media (max-width:767px) {
  .header111__button {
    padding: 32px;
    right: -15px;
  }
}
.header111__button__line {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background: #FFF;
  transition: opacity 0.35s, transform 0.35s, background-color 0.35s;
  transform: translateZ(0);
}
.page_panel .header111__button__line_1 {
  transform: translateY(7px) rotate(45deg) translateZ(0);
}
.page_panel .header111__button__line_2 {
  opacity: 0;
}
.page_panel .header111__button__line_3 {
  transform: translateY(-7px) rotate(-45deg) translateZ(0);
}
.header111__button__line:last-child {
  margin-bottom: 0;
}
.nav__list {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.nav__list:before,
.nav__list:after {
  content: "";
  display: table;
}
.nav__list:after {
  clear: both;
}
.nav__item {
  float: left;
}
.nav__item.active .nav__text:after,
.nav__item.active .nav__link {
  opacity: 1;
}
.nav__item:hover .nav__link {
  opacity: 1;
  transition-duration: 0.175s;
}
.nav__item.active .nav__link:hover {
  cursor: default;
}
.nav__link {
  box-sizing: border-box;
  display: inline-block;
  height: 80px;
  line-height: 52px;
  padding: 15px 15px;
  font-size: 14px;
  color: #FFF;
  text-transform: uppercase;
  opacity: 0.8;
  transition: opacity 0.35s;
}
.nav__text {
  position: relative;
  display: inline-block;
  line-height: 1.2;
}
.nav__text:after-c {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  opacity: 0;
  transition: opacity 0.35s;
}
.blg-nav__link {
  box-sizing: border-box;
  display: inline-block;
  height: 87px;
  line-height: 40px !important;
  padding: 15px 15px;
  font-size: 14px;
  color: #FFF !important;
  text-transform: uppercase;
  opacity: 0.8;
  transition: opacity 0.35s;
  background-color: transparent !important;
}
.blg-nav__link:hover {
  opacity: 1 !important;
}
.blg-nav__item--active .blg-nav__link {
  opacity: 1 !important;
}
.blg-nav__item.blg-nav__item--active .blg-nav__text {
  border-bottom: 2px solid #ffffff;
}
@media screen and (max-width: 768px) {
  .blg-nav__link {
    height: 60px;
    line-height: 34px !important;
  }
}
/* -------= header center menu when medium screens =------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .with-dropdown-buttons .navbar-default .navbar-collapse {
    float: none;
  }
  .navbar__align_center {
    position: relative;
    width: 100%;
  }
  .navbar__align_center:after {
    content: '';
    display: block;
    clear: both;
  }
  .navbar__align_center_to_left {
    position: relative;
    right: 50%;
    float: right;
  }
  .navbar__align_center_to_right {
    position: relative;
    z-index: 1;
    right: -50%;
  }
}
/* -------= header center menu when medium screens =------- */
.subfooter__contacts {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.subfooter__contacts:before,
.subfooter__contacts:after {
  content: "";
  display: table;
}
.subfooter__contacts:after {
  clear: both;
}
.subfooter__contact_element {
  margin-right: 30px;
  font-weight: 500;
}
.subfooter__copyright_text {
  font-weight: 500;
}
.subfooter__social_links li {
  margin-right: 18px;
}
.subfooter__div-to-desktop-ver {
  margin-bottom: 25px;
}
.subfooter__link-to-desktop-ver {
  display: inline-block;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #43a2ca;
  text-shadow: 0 1px #FFF;
  transition: color 0.35s;
}
.subfooter__link-to-desktop-ver:hover {
  color: #2a7696;
  text-decoration: none;
  transition-duration: 0.175s;
}
.subfooter__sendmessage_link {
  display: inline-block;
  color: #43a2ca;
  text-shadow: 0 1px #FFF;
  transition: color 0.35s;
}
.subfooter__sendmessage_link:hover {
  color: #2a7696;
  text-decoration: none;
  transition-duration: 0.175s;
}
.subfolder__social_link_image {
  padding-top: 5px;
}
.subfooter-contact_element_tel {
  color: #1a1a1a;
  opacity: 0.9;
  transition: opacity 0.35s;
}
.subfooter-contact_element_tel:hover {
  color: #1a1a1a;
  text-decoration: none;
  opacity: 1;
  transition-duration: 0.175s;
}
.subfooter__icon {
  color: #000000;
}
@media screen and (min-width: 1201px) {
  .subfooter__contact_element {
    float: left;
  }
}
/* -------= arrows for main blog slider =------- */
.tparrows.preview2:before {
  content: url(../img/slider-icon-chevron-left.png );
}
.tp-rightarrow.preview2:before {
  content: url(../img/slider-icon-chevron-right.png );
}
/* -------= arrows for main blog slider =------- */
/* -------= shadows for main slider =------- */
.tp-bannershadow.tp-shadow1 {
  background: url(../img/slider-shadow1.png) no-repeat;
  background-size: 100% 100%;
  width: 890px;
  height: 60px;
  bottom: -60px;
}
.tp-bannershadow.tp-shadow2 {
  background: url(../img/slider-shadow2.png) no-repeat;
  background-size: 100% 100%;
  width: 890px;
  height: 60px;
  bottom: -60px;
}
.tp-bannershadow.tp-shadow3 {
  background: url(../img/slider-shadow3.png) no-repeat;
  background-size: 100% 100%;
  width: 890px;
  height: 60px;
  bottom: -60px;
}
/* -------= shadows for main slider =------- */
.default-bg {
  background: url(../img/main-background.png ) transparent repeat;
}
/* -------= team member options =------- */
.team-member--margin-bottom {
  margin-bottom: 20px;
}
.team-member__name {
  font-size: 14px;
}
/* -------= team member options =------- */
/* -------= contact form =------- */
.form__message--red-text {
  color: #f74425;
}
/* -------= contact form =------- */
/* -------= css styles for process page =------- */
.process__xtra-small-font {
  font-size: 12px;
}
/* -------= css styles for process page =------- */
/* -------= styles for prices table =------- */
.prices {
  text-align: center;
}
.prices__title {
  color: #666666;
  margin-bottom: 60px;
  font-size: 36px;
  text-shadow: 0 1px #FFF;
}
@media (max-width:767px) {
  .prices__title {
    margin-bottom: 40px;
  }
}
.prices__content {
  margin-bottom: 40px;
}
.prices__intro {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #666;
}
@media (max-width:767px) {
  .prices__intro {
    font-size: 18px;
  }
}
.prices__text {
  float: none;
  margin: 0 auto;
  font-weight: 400;
  color: #000000;
}
@media (max-width:767px) {
  .prices__text {
    padding: 0;
  }
}
.prices-table__head-cell {
  width: 16.6666667%;
  padding: 12px 5px 20px !important;
  vertical-align: bottom;
  background-color: #e8e8e8;
  border: 1px solid #dadada;
  font-size: 12px;
  font-weight: 500;
  color: #333;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
}
@media (max-width:1023px) {
  .prices-table__head-cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width:479px) {
  .prices-table__head-cell {
    padding-left: 3px;
    padding-right: 3px;
  }
}
.prices-table__cell_first {
  background-color: #e8e8e8 !important;
}
.prices-table__cell {
  width: 16.6666667%;
  padding: 20px 25px;
  border: 1px solid #dadada;
  background-color: #f7f7f7;
  text-align: center;
  vertical-align: middle !important;
  font-weight: 400;
  line-height: 1;
  color: #666;
}
@media (max-width:1023px) {
  .prices-table__cell {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width:479px) {
  .prices-table__cell {
    padding: 10px;
  }
}
.prices-table__cell p {
  margin-bottom: 0 !important;
}
@media (max-width:479px) {
  .prices-table_small_1 {
    display: none;
  }
}
.prices-table_small_3,
.prices-table_small_4 {
  display: none;
}
@media (max-width:479px) {
  .prices-table_small_3,
  .prices-table_small_4 {
    display: block;
  }
}
.prices-table__fraction {
  color: #404040;
  text-shadow: none;
}
.prices-table {
  text-align: center;
}
.prices-table__diamonds {
  width: 100px;
  height: 73px;
  margin: 0 auto 5px;
  overflow: hidden;
}
@media (max-width:479px) {
  .prices-table__diamonds {
    width: 50px;
    height: 40px;
  }
}
.prices-table__diamonds img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@media (max-width:479px) {
  .prices-table__diamonds img {
    max-width: none;
    width: 100%;
    height: 100%;
  }
}
.prices-table__head-cell--option-carat {
  padding-top: 0 !important;
  padding-bottom: 33px !important;
}
.carat {
  display: inline-block;
  background-color: #43a2ca;
  border-radius: 50%;
}
.carat_0 {
  width: 10px;
  height: 10px;
}
.carat_1 {
  width: 15px;
  height: 15px;
}
.carat_2 {
  width: 17px;
  height: 17px;
}
.carat_3 {
  width: 20px;
  height: 20px;
}
.carat_4 {
  width: 24px;
  height: 24px;
}
.carat_5 {
  width: 26px;
  height: 26px;
}
.carat_6 {
  width: 30px;
  height: 30px;
}
.carat_7 {
  width: 33px;
  height: 33px;
}
.carat_8 {
  width: 35px;
  height: 35px;
}
.carat_9 {
  width: 37px;
  height: 37px;
}
/* -------= styles for prices table =------- */
/* -------= imports =------- */
